{% extends 'base.html'%} {% comment %} 기본 레이아웃 {% endcomment %}
{% load static %}

{% comment %} 메인페이지 내용 {% endcomment %}
{% block content %}
<main>

  {% comment %} 메인페이지 첫번째 섹션 {% endcomment %}
  <section class="text-center">

    <h1 class="text-6xl font-bold leading-normal">
      Deutsch lernen<br>
      strukturiert & praxisnah<br>
    </h1>
    <p class="mt-7 text-lg text-gray-600">
      명확하게 체계화되고 실용적인 온라인 강좌로 독일어를 마스터하세요.
    </p>
    
    <div class="flex justify-center gap-10 mt-[50px] text-mainyellow text-xl font-semibold">
      {% comment %} Instagram 버튼 {% endcomment %}
      <a class="flex items-center space-x-2 px-3.5 py-2.5 bg-mainblue rounded-lg transition duration-200 transform active:translate-y-[4px] active:scale-[0.8] shadow-xl active:shadow-none" href="https://www.instagram.com/kimsdeutsch/" target="_blank">
        <img class="size-7" src="{% static 'icons/instagram.png' %}" alt="Instagram">
        <span>Insta Reels</span>
      </a>
      
      {% comment %} Threads 버튼 {% endcomment %}
      <a class="flex items-center space-x-2 px-3.5 py-2.5 bg-mainblue rounded-lg transition duration-200 transform active:translate-y-[4px] active:scale-[0.8] shadow-xl active:shadow-none" href="https://www.threads.com/@kimsdeutsch" target="_blank">
        <img class="size-7" src="{% static 'icons/threads.png' %}" alt="Threads">
        <span>Threads Post</span>
      </a>
    </div>

  </section>
  

  {% comment %} 메인페이지 두번째 섹션 {% endcomment %}
  <section class="mt-[100px] flex justify-center gap-[100px]">

    {% comment %} 강의 특성 카드_01 {% endcomment %}
    <div class="flex flex-col items-center text-center p-6 bg-gray-50 rounded-xl">
      <img class="size-14 mb-2" src="{% static 'icons/check_list.png' %}" alt="checklist">
      <p class="text-[19px] font-semibold mb-2">잘 설계된 학습 계획</p>
      <p>체계적인 학습으로<br>성공적인 시험준비</p>
    </div>
    
    {% comment %} 강의 특성 카드_02 {% endcomment %}
    <div class="flex flex-col items-center text-center p-6 bg-gray-50 rounded-xl">
      <img class="size-14 mb-2" src="{% static 'icons/consultation.png'%}" alt="consultation">
      <p class="text-[19px] font-semibold mb-2">쌍방향 학습 활동</p>
      <p>실천 중심 과제로<br>개념을 확실히</p>
    </div>
    
    {% comment %} 강의 특성 카드_03 {% endcomment %}
    <div class="flex flex-col items-center text-center p-6 bg-gray-50 rounded-xl">
      <img class="size-14 mb-2" src="{% static 'icons/customer_experience.png'%}" alt="customer_experience">
      <p class="text-[19px] font-semibold mb-2">풍부한 경험 & 신뢰</p>
      <p>여러 학생들에게 인정받은<br>경험많은 강사와 함께</p>
    </div>

  </section>
  
  {% comment %} 메인페이지 세번째 섹션 {% endcomment %}
  <section class="mt-[100px]">
    
    {% comment %} 섹션 제목 {% endcomment %}
    <div class="flex items-center ml-8">
      <img class="size-6 mr-1 animate-bounce" src="{% static 'icons/star.png' %}" alt="star">
      <h2 class="text-2xl font-semibold">추천 강의</h2>
    </div>
    
    {% comment %} 추천 강의 내용 {% endcomment %}
    <div class="flex justify-around mt-5">
      
      {% comment %} 추천 강의 카드_1 {% endcomment %}
      <div class="flex flex-col items-center text-center p-6 bg-gray-50 rounded-xl">
        <img class="size-14 mb-2" src="{% static 'icons/online_teaching.png'%}" alt="online_teaching">
        <p class="text-[19px] mb-2 underline decoration-2 underline-offset-[6px]">독일어 문법 완전정복</p>
        <div class="text-[14px] text-gray-700 p-1 text-nowrap">
          <p class="mb-2">독일어 문법, 이해로 배우다</p>
          <p class="mb-2 leading-tight">
            암기가 아닌 시스템적 이해를 통해<br>
            기초부터 심화까지
          </p> 
          <p class="leading-tight">
            0에서 시작해도<br>
            스스로 학습을 이어갈 수 있는<br>
            문법 길잡이 수업
          </p>
        </div>
      </div>
      
      {% comment %} 추천 강의 카드_2 {% endcomment %}
      <div class="flex flex-col items-center text-center p-6 bg-gray-50 rounded-xl">
        <img class="size-14 mb-2" src="{% static 'icons/online_teaching.png'%}" alt="online_teaching">
        <p class="text-[19px] mb-2 underline decoration-2 underline-offset-[6px]">4주완성 telc B1</p>
        <div class="text-[14px] text-gray-700 p-1 text-nowrap">
          <p class="mb-1">
            시험 전략 + 실전 훈련
          </p>
          <p class="mb-1">
            문제 유형 분석
          </p>
          <p class="mb-1">
            핵심 어휘와 테마 학습
          </p>
          <p class="mb-2">
            말하기·쓰기 집중 연습
          </p>
          <p class="mb-2 leading-tight">
            추가적인<br>
            1개월 멘토링 & 복습 녹화본 제공
          </p>
          <p class="leading-tight">
            개별 시험 일정에 맞춘<br>
            첨삭 및 Q&A 제공
          </p>
        </div>
      </div>
      
      {% comment %} 추천 강의 카드_3 {% endcomment %}
      <div class="flex flex-col items-center text-center p-6 bg-gray-50 rounded-xl">
        <img class="size-14 mb-2" src="{% static 'icons/online_teaching.png'%}" alt="online_teaching">
        <p class="text-[19px] mb-2 underline decoration-2 underline-offset-[6px]">4주완성 telc B2</p>
        <div class="text-[14px] text-gray-700 p-1 text-nowrap">
          <p class="mb-1">
            효율적인 단기 대비
          </p>
          <p class="mb-1">
            시험 포인트 정리
          </p>
          <p class="mb-1">
            어휘·주제별 훈련
          </p>
          <p class="mb-2">
            실전 시뮬레이션
          </p>
          <p class="mb-2 leading-tight">
            추가적인<br>
            1개월 멘토링 & 복습 녹화본 제공
          </p>
          <p class="leading-tight">
            개별 시험 일정에 맞춘<br>
            첨삭 및 Q&A 제공
          </p>
        </div>
      </div>
      
      {% comment %} 추천 강의 카드_4 {% endcomment %}
      <div class="flex flex-col items-center text-center p-6 bg-gray-50 rounded-xl">
        <img class="size-14 mb-2" src="{% static 'icons/online_teaching.png'%}" alt="online_teaching">
        <p class="text-[19px] mb-2 underline decoration-2 underline-offset-[6px]">4주완성 telc C1 Hochschule</p>
        <div class="text-[14px] text-gray-700 p-1 text-nowrap">
          <p class="mb-1">
            대학 입학시험 대비 집중 과정
          </p>
          <p class="mb-1">
            시험 유형 파악
          </p>
          <p class="mb-1">
            고급 어휘·주제 학습
          </p>
          <p class="mb-2">
            말하기·쓰기 실전 훈련
          </p>
          <p class="mb-2 leading-tight">
            추가적인<br>
            1개월 멘토링 & 복습 녹화본 제공
          </p>
          <p class="leading-tight">
            강의 이후에도<br>
            지속적인 첨삭 및 Q&A 제공
          </p>
        </div>
      </div>
      
    </div>

    <div class="relative mt-4">
      <a class="absolute right-[30px] text-lg font-semibold border-2 border-mainblue text-mainblue px-3 py-1 rounded-lg transition duration-200 hover:bg-mainblue hover:text-white" href="{% url 'course_list' %}">전체 강의 보러가기</a>
    </div>
  </section>
  
  {% comment %} 메인페이지 네번째 섹션 {% endcomment %}
  <section class="mt-[120px] mb-5 px-[22px]">

    {% comment %} 섹션 제목 {% endcomment %}
    <div class="flex items-center ml-3">
      <img class="size-[35px] mr-1 animate-bounce" src="{% static 'icons/review.png' %}" alt="review">
      <h2 class="text-2xl font-semibold">수강생 후기</h2>
    </div>

    {% comment %} 리뷰 슬라이드  {% endcomment %}
    <div class="swiper mySwiper mt-5">
      <div class="swiper-wrapper mb-10">

        {% comment %} 리뷰 카드_1 {% endcomment %}
        <div class="swiper-slide">
          <div class="bg-gray-50 rounded-xl p-6 h-[450px]">
            {% comment %} 이름: 황재환 {% endcomment %}
            <p class="font-bold">황*환 님</p>
            <div class="text-sm mb-5 flex gap-3">
              <span>(Grammatik/B1/B2)</span>
              <span>/</span>
              <div class="flex mt-[3px] size-[14px] gap-0.5">
                {% for i in "12345"%}
                <img src="{% static 'icons/star.png' %}" alt="">
                {% endfor %}
              </div>  
            </div>
            <p>
              첫 독일와서 처음으로 독일어를 선생님한테 배웠고 
              독일어의 문법과 해석 방법, 글쓰기/말하기 시험 준비 등 많은 것을 친절하게 같이 준비할 수 있었고 
              그로인해 B1 시험 합격, B2 시험 결과만 기다리고 있습니다!! 
              혹시 독일어가 많이 어렵다 하시는분은 같이 수업 듣으면서 독일어의 문법 등 선생님한테 배우면 많이 도움될거라 생각합니다!!
            </p>
          </div>
        </div>
        
        {% comment %} 리뷰 카드_2 {% endcomment %}
        <div class="swiper-slide">
          <div class="bg-gray-50 rounded-xl p-6 h-[450px]">
            {% comment %} 이름: 최진 {% endcomment %}
            <p class="font-bold">최* 님</p>
            <div class="text-sm mb-5 flex gap-3">
              <span>(Grammatik/B1)</span>
              <span>/</span>
              <div class="flex mt-[3px] size-[14px] gap-0.5">
                {% for i in "12345"%}
                <img src="{% static 'icons/star.png' %}" alt="">
                {% endfor %}
              </div>
            </div> 
            <p>
              문법 정리와 특히 작문에 정말 많은 도움을 받았습니다! 
              친절하게 여러번 설명해주시고, 이런저런 예시로 이해할 수 있도록 도와주셨어요! 
              쓰기 말하기는 여러번 반복하며 실수를 줄여가고, 유용한 문장들이 익숙해지도록 연습시켜주셨어요. 
              저에게 맞는 방법들을 제시해주셔서, 빠른시간에 시험에 붙을 수 있었습니다 :)
            </p>
          </div>
        </div>

        {% comment %} 리뷰 카드_3 {% endcomment %}
        <div class="swiper-slide">
          <div class="bg-gray-50 rounded-xl p-6 h-[450px]">
            {% comment %} 이름: 백혜린 {% endcomment %}
            <p class="font-bold">백*린 님</p>
            <div class="text-sm mb-5 flex gap-3">
              <span>(Grammatik/B1)</span>
              <span>/</span>
              <div class="flex mt-[3px] size-[14px] gap-0.5">
                {% for i in "12345"%}
                <img src="{% static 'icons/star.png' %}" alt="">
                {% endfor %}
              </div>
            </div>  
            <p>
              Grammatik: 학생들이 헷갈릴만한 포인트들을 잘 집어서 설명해주세요~ 
              너무 딱딱하지 않은 설명들도 좋아요🤗<br>
              B1: 무한한 인내심과 긍정 마인드로 직장인도 회사다니면서 B1를 딸 수 있게 모가지
              끌어주신 장인이십니다ㅎ 비슷한 단어의 미묘한 차이점들과 활용법도 한번씩
              집어주시는데 그것도 좋았어요👍
            </p>
          </div>
        </div>

        {% comment %} 리뷰 카드_4 {% endcomment %}
        <div class="swiper-slide">
          <div class="bg-gray-50 rounded-xl p-6 h-[450px]">
            {% comment %} 이름: 김도연 {% endcomment %}
            <p class="font-bold">김*연 님</p>
            <div class="text-sm mb-5 flex gap-3">
              <span>(Grammatik)</span>
              <span>/</span>
              <div class="flex mt-[3px] size-[14px] gap-0.5">
                {% for i in "12345"%}
                <img src="{% static 'icons/star.png' %}" alt="">
                {% endfor %}
              </div>
            </div>
            <p>
              독일에는 오래 살았지만 상대적으로 기초가 부족했던 저에게도 정말 딱 맞는 수업이었어요.
              민지쌤 덕분에 머릿속에서 정리 안된 혹은 잘못 저장된 문법들이 순차적으로 착착 정리되는걸 경험했습니다. 
              단순히 책을 보고 진도를 나가는 것 보다 훨씬 다차원적으로 잘 코칭해주세요. 적극 추천합니다!!
            </p>
          </div>
        </div>

        {% comment %} 리뷰 카드_5 {% endcomment %}
        <div class="swiper-slide">
          <div class="bg-gray-50 rounded-xl p-6 h-[450px]">
            {% comment %} 이름: 유의인{% endcomment %}
            <p class="font-bold">유*인 님</p>
            <div class="text-sm mb-5 flex gap-3">
              <span>(Telc C1 Hochschule)</span>
              <span>/</span>
              <div class="flex mt-[3px] size-[14px] gap-0.5">
                {% for i in "12345"%}
                <img src="{% static 'icons/star.png' %}" alt="">
                {% endfor %}
              </div>
            </div>  
            <p>
              김민지 선생님이랑 수업하면서 telc c1 자격증 준비하는데 도움이 많이 되었습니다!! 
              특히 저는 읽기랑 쓰기가 많이 약했는데 부족한 부분을 보완하는데 정말 큰 도움이 되었어요! 
              읽기 지문에서 얻을 수 있는 요령도 많이 알려주시고 쓰기에서 유용하게 쓸 수 있는 c1 수준에
              걸맞는 표현법들을 익히고 실제로 작문에 적용해보는 연습도 반복적으로 하면서 
              단기간 내에 성적을 향상시킬 수 있었습니다! 
              실제로도 민지 선생님과의 수업 후 읽기 쓰기 부분 성적이 제일 많이 올랐어요! 
              주위에서 누가 c1 준비한다고 하면 선생님 수업을 추천하고 싶은 마음입니다!
            </p>
          </div>
        </div>
        
        {% comment %} 리뷰 카드_6 {% endcomment %}
        <div class="swiper-slide">
          <div class="bg-gray-50 rounded-xl p-6 h-[450px]">
            {% comment %} 이름: 변예준{% endcomment %}
            <p class="font-bold">변*준 님</p>
            <div class="text-sm mb-5 flex gap-3">
              <span>(Grammatik/B1)</span>
              <span>/</span>
              <div class="flex mt-[3px] size-[14px] gap-0.5">
                {% for i in "12345"%}
                <img src="{% static 'icons/star.png' %}" alt="">
                {% endfor %}
              </div>
            </div>
            <p>
              선생님이 정말 친절하십니다!!
              모르는것들, 헷갈리는것들 정말 귀찮을 정도로 물어봤는데 항상 정성껏 답변 해 주셨습니다 ㅎㅎ 
              덕분에 B1도 한번에 통과 했어요!! 
              기초부터 B1시험까지 모두 추천합니다👏🏼👏🏼
            </p>
          </div>
        </div>

        {% comment %} 리뷰 카드_7 {% endcomment %}
        <div class="swiper-slide">
          <div class="bg-gray-50 rounded-xl p-6 h-[450px]">
            {% comment %} 이름: 김예슬 {% endcomment %}
            <p class="font-bold">김*슬 님</p>
            <div class="text-sm mb-5 flex gap-3">
              <span>(Grammatik/B1)</span>
              <span>/</span>
              <div class="flex mt-[3px] size-[14px] gap-0.5">
                {% for i in "12345"%}
                <img src="{% static 'icons/star.png' %}" alt="">
                {% endfor %}
              </div>
            </div>
            <p>
              배워도 배워도 항상 헷갈렸던 문법을 쉽게 정리해주시고 
              다양한 자료와 함께 완전히 이해할 때 까지 설명해주셔서 도움이 많이 됐어요! 
              Telc B1시험준비할 때에 말하기에 걱정이 많았는데 예상 주제별로 사용할 수 있는 표현들을 알려주시고, 
              실제 시험 진행 방식과 똑같은 방식으로 대비해주셔서 시험 당일 긴장하지 않고 좋은 결과 받았습니다! 
              감사합니다 선생님 :)
            </p>
          </div>
        </div>

        {% comment %} 리뷰 카드_8 {% endcomment %}
        <div class="swiper-slide">
          <div class="bg-gray-50 rounded-xl p-6 h-[450px]">
            {% comment %} 이름: 민지현 {% endcomment %}
            <p class="font-bold">민*현 님</p>
            <div class="text-sm mb-5 flex gap-3">
              <span>(TestDaF-Digital)</span>
              <span>/</span>
              <div class="flex mt-[3px] size-[14px] gap-0.5">
                {% for i in "12345"%}
                <img src="{% static 'icons/star.png' %}" alt="">
                {% endfor %}
              </div>
            </div>  
            <p>
              아무리 현지 어학원을 통해서 하더라도 채워지지 않는 부분들이 있었는데 
              민지쌤을 통해서 정말 많이 채워졌어요!<br>
              1. 단어를 외우는 법부터 시작해서 연상시켜서 더 많은 단어를 생각해 낼 수 있는 방법들<br>
              2. 큰 주제에서 세부주제까지 빠르게 생각해 낼 수 있는 방법들<br>
              ⭐️ 외국어라는 틀안에서 생각해내지 못하는 부분들을 
              쉽고 간단하게 해결할 수 있는 팁들을 많이 알려주셨어요! 
              또한 한 눈에 알아볼 수 있게 정리해주신 자료들이 정말 도움이 많이 됩니다!! 
              덕분에 지루해지던 독일어를 더 재밌게 공부할 수 있게 되었습니다🥹👍
            </p>
          </div>
        </div>

        {% comment %} 리뷰 카드_9 {% endcomment %}
        <div class="swiper-slide">
          <div class="bg-gray-50 rounded-xl p-6 h-[450px]">
            {% comment %} 이름: Minah{% endcomment %}
            <p class="font-bold">김*아 님</p>
            <div class="text-sm mb-5 flex gap-3">
              <span>(Telc C1 Hochschule-MA)</span>
              <span>/</span>
              <div class="flex mt-[3px] size-[14px] gap-0.5">
                {% for i in "12345"%}
                <img src="{% static 'icons/star.png' %}" alt="">
                {% endfor %}
              </div>
            </div>  
            <p>
              혼자 말하기 연습하면서 인터넷에서 Redemittel이나 예시에 대한 아이디어 등은 
              스스로 찾을 수 있고 준비 할 수 있으나, 어떻게 주제에 벗어나지 않고 자연스럽게 이야기 하는 것이
              저에겐 너무 어려웠던거 같아요. 선생님께서 제대로 정돈되지 않은 말하기를 잘 다듬어 주셔서
              어떠한 주제가 나와도 제대로 된 방향성을 가지고 정리하여 말 할 수 있었던거 같아요.
            </p>
          </div>
        </div>

      </div>
      
      {% comment %} 카드 슬라이드 버튼 {% endcomment %}
      <div class="swiper-pagination mt-4"></div>
    </div>

  </section>
  
</main>

<footer></footer>
{% endblock %}