@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');


@theme {
  /* Font Family */
  --font-noto: "Noto Sans KR", "Noto Sans", sans-serif;

  /* Color */
  --color-mainblue: #304f7a;
  --color-mainyellow: #fabc02;
}
.swiper-pagination-bullet {
  background-color: #e5e7eb;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: #304f7a;
}

/* #d1d5db */