# Python
__pycache__/
*.py[cod]
*.egg-info/
build/

# VS Code
.vscode/

# Virtual environment
.venv/

# Node.js
node_modules/

# Django media uploads
media/

# Django Database & logs
db.sqlite3
*.log

# System files
.DS_Store
Thumbs.db


# Tailwind CSS
dist/*
!dist/output.css  # 예외적으로 output.css만 커밋