{% comment %} 기본 레이아웃 {% endcomment %}
{% load static %}
<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% comment %} Logo_icon {% endcomment %}
    <link rel="icon" href="{% static 'icons/example_tablogo.png' %}" type="image/png">
    {% comment %} Swiper CSS {% endcomment %}
    <link rel="stylesheet" href="{% static 'css/swiper-bundle.min.css' %}">
    {% comment %} Tailwind CSS {% endcomment %}
    <link rel="stylesheet" href="{% static 'dist/output.css' %}">
    <title>{% block title %}KimDeutsch{% endblock %}</title>
  </head>
  <body class="font-noto">
    
    <div class="max-w-screen-xl mx-auto w-full my-5 px-5 sm:px-6 lg:px-8 py-8 shadow-2xl rounded-xl ">
      
      {% comment %} 로고 + 네비게이션 {% endcomment %}
      <header class="font-semibold">
        <nav class="flex justify-between mb-[130px]">
          <a class="text-5xl" href="{% url 'main' %}">KimsDeutsch</a>
          <div class="grid grid-cols-2 gap-10 items-center text-lg">
            <div class="flex gap-4">
              <a class="px-2 py-1 transition duration-250 transform active:scale-[0.8] active:translate-y-[4px]" href="#">소개</a>
              <a class="px-2 py-1 transition duration-250 transform active:scale-[0.8] active:translate-y-[4px]" href="{% url 'course_list' %}">클래스</a>
              <a class="px-2 py-1 transition duration-250 transform active:scale-[0.8] active:translate-y-[4px]" href="#">프로필</a>
            </div>
            <div class="flex gap-4">
              <a class="border-2 border-mainblue text-mainblue px-2 py-1 rounded-lg transition duration-200 hover:bg-mainblue hover:text-white" href="#">로그인</a>
              <a class="border-2 border-mainblue text-mainblue px-2 py-1 rounded-lg transition duration-200 hover:bg-mainblue hover:text-white" href="{% url 'user_signup'%}">회원가입</a>
            </div>
          </div>
        </nav>
      </header>

      {% comment %} 컨텐츠 {% endcomment %}
      {% block content %}
      {% endblock %}

      
      {% comment %} 푸터 {% endcomment %}
      <footer></footer>
      
    </div>
    
    {% comment %} 문의하기 버튼 {% endcomment %}
    <a class="fixed top-9/10 -translate-y-1/2 z-50 left-1/2 translate-x-[calc(min(50vw,_640px)_+_10px)]
              size-[70px] hover:w-[200px] rounded-[20px] border-4 border-mainyellow bg-white
              transition-all duration-300 overflow-hidden group"
        href="https://forms.gle/gnMc2ZfnkwuNRczX8" target="_blank" rel="noopener" aria-label="문의하기">

      <div class="relative w-full h-full">
        <div class="absolute left-0 top-0 h-full w-[65px] grid place-items-center bg-mainblue">
          <img class="size-[55px] transform -translate-x-[1px] transition-none"
              src="{% static 'icons/question.png' %}" alt="문의하기">
        </div>

        <span class="absolute inset-y-0 left-[85px] flex items-center pr-4 text-mainblue text-2xl font-semibold 
                    whitespace-nowrap opacity-0 transition-opacity duration-300 group-hover:opacity-100">
          문의하기
        </span>
      </div>
    </a>

    {% comment %} Swiper JS {% endcomment %}
    <script src="{% static 'js/swiper-bundle.min.js' %}"></script>
    <script>
      const swiper = new Swiper(".mySwiper", {
        loop: true,
        slidesPerView: 3,
        slidesPerGroup: 1,
        spaceBetween: 20,
        speed: 1000,
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
        autoplay: {
          delay: 2000,
        },
        breakpoints: {
          0: {
            slidesPerView: 1
          },
          640: {
            slidesPerView: 2
          },
          1024: {
            slidesPerView: 3
          }
        }
      });
    </script>
  </body>
</html>
